.color {
  border: 1px solid black;
  height: 40px;
  margin: 10px auto;
  width: 40px;
}

.pixel, td, th, tr {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  margin: 10px auto;
  width: 40px;
}

.pixelBoard {
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
}
